
                .accordion-background-color {
                    background-color: #ffffff;
                }
                
                .accordion-button:focus {
                    background-color: #FD562A;
                    box-shadow: 0 0 0 .25rem rgba(22, 22, 22, 0.45);
                }
                
                .accordion-button:not(.collapsed) {
                    background-color: #e0dddd;
                    color: rgb(0, 0, 0);
                }
